<form name="container-form" method="POST" action="/student/handler-students">
<div class="mt4 d-flex align-items-center">
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
  </div>
  <div>
  <select class="form-select-sm" style="margin:0 8px" aria-label="Default select example" name="action" required>
  <option value="">--Chọn hành động--</option>
  <option value="delete">Xóa</option>
  </select>
  <button class="btn btn-primary btn-sm btn-submit disabled">Thực hiện</button>
  </div>
</div>

{{#each students}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
      <input class="form-check-input" type="checkbox" name="studentids[]" value="{{this._id}}">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.class}}</p>
    <a href="/student/{{this.slug}}" class="btn btn-info">Xem Điểm</a>
    <a href="" class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-student">Xóa</a>
  </div>
</div>
{{else}}
<div>
  <span>Bạn chưa có học sinh nào!</span>
</div>
{{/each}}
    <a href="/student/create" style="margin-top: 30px" class="btn btn-primary">Thêm học sinh</a>
    {{#if count}}
    <a href="/student/trash" style="margin-top: 30px" class="btn btn-primary">Học sinh đã xóa ({{count}})</a>
    {{/if}}
</form>
{{!--Confirm Delete--}}
<div class="modal fade" id="delete-student" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-student">Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<form method="POST" name="handler-student-form"></form>
<script>
let id;
let deleteBtn = document.querySelector('#btn-delete-student')
let formHandlerElement = document.forms['handler-student-form']
let containerForm = document.forms['container-form']
let checkBoxAllElement = document.querySelector('#checkbox-all')
let checkBoxElement = document.querySelectorAll('input[name="studentids[]"]')
let submitBtn = document.querySelector('.btn-submit')
    var idElement = document.getElementById('delete-student')
    idElement.addEventListener('show.bs.modal', function (e) {
    var button = e.relatedTarget
    id = button.getAttribute('data-id')
  })
    deleteBtn.onclick = function(){
      formHandlerElement.action = `/student/${id}?_method=DELETE`
      formHandlerElement.submit();
    }
    checkBoxAllElement.onchange = function(){
        for(let i = 0; i < checkBoxElement.length; i++) {
          let isCheckedAll = checkBoxAllElement.checked
          checkBoxElement[i].checked = isCheckedAll;
        }
        enableSubmit()
    }
    for(let i = 0; i < checkBoxElement.length; i++) {
      checkBoxElement[i].onchange = function(){
      let isCheckAllStudents = checkBoxElement.length === document.querySelectorAll('input[name="studentids[]"]:checked').length
      checkBoxAllElement.checked = isCheckAllStudents
      enableSubmit()
      }
    }
    function enableSubmit(){
      let count = document.querySelectorAll('input[name="studentids[]"]:checked').length
      if (count > 0){
        submitBtn.classList.remove('disabled')
      } else {
        submitBtn.classList.add('disabled')
      }
    }
</script>