<ul class="list-group">
  <li class="list-group-item">Học Sinh: {{student.name}}</li>
  <li class="list-group-item">Lớp: {{student.class}}</li>
  <li class="list-group-item">Văn: {{student.van}}</li>
  <li class="list-group-item">Toán: {{student.toan}}</li>
  <li class="list-group-item">Anh: {{student.anh}}</li>
  <a href="/student/{{student._id}}/edit" class="btn btn-primary">Sửa</a>
</ul>